apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: node:18-alpine
        command: ["node"]
        args: ["-e", "require('http').createServer((req,res)=>{res.end('Backend running');}).listen(3000)"]
        ports:
        - containerPort: 3000
